
 <nav class="navbar navbar-inverse navbar-static-top marginBottom-0" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
              <a class="navbar-brand active" href="#" target="_blank"> Welcome {{userName}}</a>
            </div>
            
            <div class="collapse navbar-collapse" id="navbar-collapse-1">
                <ul class="nav navbar-nav">
                	<!-- <li class="active"><a href="#offers">Offers</a></li> -->
                    <li ><a href="#preferences">Preferences</a></li>                    
                    <li ><a href="#" ng-click="piechart()">View Piechart</a></li>
                    <li><a href="#">Log out</a></li>
                    
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>